/*---------------------------
--------Common-style---------
--------------------------- */
body{
    margin: 0px;
    font-family: 'Poppins', sans-serif;
    width: 100%;
}
/*---------------------------
--------Header-style---------
--------------------------- */
nav {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 350px;
    align-items: baseline;
    justify-items: center;
    margin-top: 18px;
    margin-bottom: 18px;
}
.menu{
    display: grid;
    grid-template-columns: repeat(6, 75px);
    font-size: 15px;
    font-weight: 500;
    width: 100%;
}
.Top-title{
    font-size: 24px;
    font-weight: 700;
}
.menu li{
    list-style: none;
    padding: 5px;
    align-items: center;
}
/*---------------------------
---------Section-01----------
--------------------------- */
.container-01{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: auto;
    align-items: center;
    justify-items: center;
    margin-bottom: 100px;
}
.influencer-title h1{
    font-size: 45px;
    font-weight: 500;
    margin-bottom: 0px;
}
.influencer-title h3{
    font-size: 16px;
    font-weight: 600;
    margin-top: 0px;
}
.influencer-title{
    width: 80%;
    padding-right: 50px;
    margin-left: 90px;
}
.influencer-images{
    background-image: url(images/Screenshot_42.png);
    cursor: pointer;
    border-radius: 20px;
}
.influencer-image:hover{
    transform: scale(1.08);
    transition: transform .5s ease-in; 
}
.influencer-image img{
    width: 440px;
    height: 414px;
}
.button{
    background-color: #E02C6D;
    border: none;
    border-radius: 30px;
    color: whitesmoke;
    height: 44px;
    width: 196px;
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
}
.button:hover{
    background-color: #f31566;
}
hr{
    width:80%
}
/*----------------------------
 Popular-collection section 
----------------------------*/
.popular-collection h1{
    margin-top: 100px;
    text-align: center;
    padding-bottom: 26px;
}
.popular-collection{
    height: 1662px;
    width: 1047px;
    margin: auto;
}
.container-2{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
}
.products{
    box-shadow: 0px 0px 30px #c0bbbb;
    padding: 16px 16px;
    border-radius: 7px;
    background-color: white;
}
.product-img:hover {
    transform: scale(1.09);
    transition: transform 1s ease-in;
    cursor: pointer;
}
.product-img img{
    width: 300px;
    height: 256px;
}
.product-title h3{
    font-size: 25px;
    font-weight: 500;
    margin: 10px auto;
}
.product-title p{
    margin: 5px auto;
}
.rating i{
    color: #FB8200;
    height: 10px;
}
.product-description{
    color: #787885;
    font-size: 12px;
    font-weight: 580;
}
.see-more{
    display: flex;
    justify-content: flex-end;
    align-items: baseline;
    font-size: 16px;
    font-weight: 700;
    margin: 23px 0px;
    color: #E02C6D;
}
/*------------------------
---------Extra-----------
------------------------*/
.influencer-specialist{
    margin: 50px 30px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-items: center;
}
.specialist-pic img{
    width: 404px;
    height: 270px;
    margin-left: 00px;
    border-radius: 20px;
}
.specialist-pic:hover {
    transform: scale(1.07);
    transition: transform .5s ease-in;
    cursor: pointer;
}
.specialist-description{
    margin: 40px;
    padding-left: 40px;
}
/*------------------------
---------Footer-----------
------------------------*/
footer{
    height: 190px;
    background-color: #0A0826;
    color: white;
}
footer div{
 display: flex;
 align-items: center;
 flex-direction: column;
}
.footer-information div h3{
    margin-top: 35px;
    font-weight: 500;
}
.footer-information div h5{
    margin: 3px;
    font-weight: 20;
}
.footer-icon span i{
    padding: 8px;
}
/*-------------------------------------------
------- Responsive For mobile phones:-------
-------------------------------------------- */
@media only screen and (max-width: 768px) {
    body {
        background-color: lemonchiffon;
        margin: auto;
      }
    nav{
    grid-template-columns: 1fr;
    grid-gap: 20px;
   }
   .responsive{
    height: 5540px;
   }
   .menu{
       margin-left: 100px;
       justify-content: space-evenly;
   }
   .influencer-title h1{
       font-size:  2em;
       padding-bottom: 30px;
   }
   .container-01{
    grid-template-columns: 1fr;
    grid-gap: 40px;
   }
   .container-2{
    grid-template-columns: 1fr;
   }

   .products{
    width: 338px;
   margin-left: 10%;
   }
   .product-img{
   padding-left: 20px;
   }
   .popular-collection h1{
    margin-right:  450px;
   }

   .influencer-specialist{
    grid-template-columns: 1fr;
   }
   .specialist-description{
       width: 400px;
       margin-left: 50px;
   }
   .button{
    margin-left: 80px;
   }
   footer{
    width:600px;
   } 
   .see-more{
       width: 450px;
       margin-top: 8px;
       margin-bottom: 100px;
   }
  }