/*---------------------------
--------Common-style---------
--------------------------- */
body{
    margin: 0px;
    font-family: 'Poppins', sans-serif;
}
/*---------------------------
--------Header-style---------
--------------------------- */
nav {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 350px;
    align-items: baseline;
    justify-items: center;
    margin-top: 18px;
    margin-bottom: 18px;
}
.menu{
    display: grid;
    grid-template-columns: repeat(6, 75px);
    font-size: 15px;
    font-weight: 500;
    width: 100%;
}
.Top-title{
    font-size: 24px;
    font-weight: 700;
}
.menu li{
    list-style: none;
    padding: 5px;
    align-items: center;
}
/*---------------------------
---------Section-01----------
--------------------------- */
.container-01{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: auto;
    align-items: center;
    justify-items: center;
    margin-bottom: 100px;
}
.influencer-title h1{
    font-size: 45px;
    font-weight: 500;
    margin-bottom: 0px;
}
.influencer-title h3{
    font-size: 16px;
    font-weight: 600;
    margin-top: 0px;
}
.influencer-title{
    width: 80%;
    padding-right: 50px;
    margin-left: 90px;
}
.influencer-images{
    background-image: url(images/Screenshot_42.png);
    cursor: pointer;
}
.influencer-image:hover{
    transform: scale(1.08);
    transition: transform .5s ease-in; 
}
.influencer-image img{
    width: 440px;
    height: 414px;
}
.influencer-title button{
    background-color: #E02C6D;
    border: none;
    border-radius: 30px;
    color: whitesmoke;
    height: 44px;
    width: 196px;
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
}
hr{
    width:80%
}
/*----------------------------
 Popular-collection section 
----------------------------*/
.popular-collection h1{
    margin-top: 100px;
    text-align: center;
    padding-bottom: 26px;
}
.popular-collection{
    height: 1662px;
    width: 1047px;
    margin: auto;
}
.container-2{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
}
.products{
    box-shadow: 0px 0px 30px #c0bbbb;
    padding: 16px 16px;
    border-radius: 7px;
    background-color: white;
}
.product-img:hover {
    transform: scale(1.09);
    transition: transform 1s ease-in;
    cursor: pointer;
}
.product-img img{
    width: 300px;
    height: 256px;
}
.product-title h3{
    font-size: 25px;
    font-weight: 500;
    margin: 10px auto;
}
.product-title p{
    margin: 5px auto;
}
.rating i{
    color: #FB8200;
    height: 10px;
}
.product-description{
    color: #787885;
    font-size: 12px;
    font-weight: 580;
}
.see-more{
    display: flex;
    justify-content: flex-end;
    align-items: baseline;
    font-size: 16px;
    font-weight: 700;
    margin: 23px 0px;
    color: #E02C6D;
}
/*------------------------
---------Extra-----------
------------------------*/
.extra{
    width: 8oopx;
    background-color: #FFFFFF;
    border-radius: 3px;
    margin: auto;
    
}
.section-title{
    color: black;
    padding-top:33px;
    padding-left: 29px ;
    font-weight: 500;
    font-size: 24px;
    margin-top: 0px;
}
.influencers{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    margin: 30px auto 0px 30px;
    padding-bottom: 50px;
}
.influencer{
    display: flex;
    align-items: center;
    padding-bottom: 28px;
}
.influencer img{
    width: 56px;
    height: 56px;
    border-radius: 5px;
}
.influencer-name{
    margin-left: 16px;
}
/*------------------------
---------Footer-----------
------------------------*/
footer{
    height: 190px;
    background-color: #0A0826;
    color: white;
}
footer div{
 display: flex;
 align-items: center;
 flex-direction: column;
}
.footer-information div h3{
    margin-top: 35px;
    font-weight: 500;
}
.footer-information div h5{
    margin: 3px;
    font-weight: 20;
}
.footer-icon span i{
    padding: 8px;
}
@media (max-width: 700px) {
    nav{
        grid-template-columns: 1fr;
        /* height: fit-content; */
    }
    .container-01{
        grid-template-columns: 1fr;
        height: fit-content;
    }
    .container-2{
        grid-template-columns: 1fr;
        height: fit-content;
        align-items: center;
    }
    .influencers{
        grid-template-columns: 1fr;
        height: fit-content;
    }
    footer{
        height:min-content;
    }
}