/*---------------------------
--------Common-style---------
--------------------------- */
body{
    margin: 0px;
    font-family: 'Poppins', sans-serif;
}
h1{
    text-align: center;
    padding-bottom: 26px;
}
/*----------------------------
 Popular-collection section-02  
----------------------------*/
.popular-collection{
    height: 1662px;
    width: 1047px;
    margin: auto;
}
.container-2{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
}
.products{
    box-shadow: 0px 0px 30px #c0bbbb;
    padding: 16px 16px;
    border-radius: 7px;
    background-color: white;
}
.product-img img{
    width: 300px;
    height: 256px;
}
.product-title h3{
    font-size: 25px;
    font-weight: 500;
    margin: 10px auto;
}
.product-title p{
    margin: 5px auto;
}
.rating i{
    color: #FB8200;
    height: 10px;
}
.product-description{
    color: #787885;
    font-size: 14px;
    font-weight: 700;
}
.see-more{
    display: flex;
    justify-content: flex-end;
    align-items: baseline;
    font-size: 16px;
    font-weight: 700;
    margin: 23px 0px;
    color: #E02C6D;
}
/*------------------------
---------Footer-----------
------------------------*/
/* footer footer-icon{
    height: 32px;
    width: 32px;
} */
footer{
    height: 190px;
    background-color: #0A0826;
    color: white;
}
footer div{
 display: flex;
 align-items: center;
 flex-direction: column;
}
.footer-information div h3{
    margin-top: 35px;
    font-weight: 500;
}
.footer-information div h5{
    margin: 3px;
    font-weight: 20;
}
.footer-icon span i{
    padding: 8px;
}